{# templates/hello_my_name_is_view.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Hola, mi nombre es</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Hello, my name is {{ name }} {{ surname }}.</h1>
    <p>Nice to meet you!!</p>
</body>
</html>